absl-py==2.1.0
addict==2.4.0
aiofiles==23.2.1
altair==5.4.0
annotated-types==0.7.0
anyio==4.4.0
asttokens==2.4.1
attrs==24.2.0
audioread==3.0.1
av==9.2.0
backcall==0.2.0
basicsr==1.4.2
blinker==1.8.2
Brotli
cachetools==5.5.0
certifi
cffi
charset-normalizer
click
cloudpickle
cmake==3.25.0
contourpy==1.1.1
cycler==0.12.1
cytoolz
decorator==4.4.2
distro==1.9.0
dlib
elevenlabs==1.7.0
exceptiongroup==1.2.2
executing==2.0.1
face-alignment==1.4.1
facexlib==0.3.0
fastapi==0.112.1
ffmpy==0.4.0
filelock==3.15.4
filterpy==1.4.5
fonttools==4.53.1
fsspec
future==1.0.0
gfpgan==1.3.8
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.34.0
google-auth-oauthlib==1.0.0
gradio==4.41.0
gradio_client==1.3.0
grpcio==1.65.5
h11==0.14.0
h2
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.6
hyperframe
idna
imagecodecs-lite
imageio
imageio-ffmpeg==0.5.1
importlib_metadata
importlib_resources==6.4.3
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
lazy_loader==0.4
librosa==0.10.2.post1
lit==15.0.7
llvmlite==0.41.1
lmdb==1.5.1
locket
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
narwhals==1.5.2
networkx
numba==0.58.1
numpy
oauthlib==3.2.2
openai==1.42.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
orjson==3.10.7
packaging
pandas==2.0.3
parso==0.8.4
partd
pexpect==4.9.0
pickleshare==0.7.5
pillow
pkgutil_resolve_name==1.3.10
platformdirs
playsound==1.3.0
pooch
proglog==0.1.10
prompt_toolkit==3.0.47
protobuf==3.20.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
pydub==0.25.1
Pygments==2.18.0
pyparsing==3.1.2
PySocks
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pytz==2024.1
PyWavelets
PyYAML
referencing==0.35.1
requests
requests-oauthlib==2.0.0
resampy==0.3.1
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
ruff==0.6.1
scikit-image
scikit-learn==1.3.2
scipy==1.10.1
semantic-version==2.10.0
shellingham==1.5.4
simpleaudio==1.0.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soundfile==0.12.1
soxr==0.3.7
stack-data==0.6.3
starlette==0.38.2
streamlit==1.34.0
streamlit-chat==0.1.1
sympy==1.12
tb-nightly==2.14.0a20230808
tenacity==8.5.0
tensorboard==2.11.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.5.0
tifffile==2019.7.26.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
triton==2.0.0
typer==0.12.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3
uvicorn==0.30.6
watchdog==4.0.2
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.3
yapf==0.40.2
zipp
zstandard==0.23.0
